USE [master]
GO
/****** Object:  Database [QuanLyCamDo]    Script Date: 12/05/2026 10:10:55 CH ******/
CREATE DATABASE [QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo', FILENAME = N'D:\My CODE\SQL Sever Standard\Microsoft SQL Server\Program Files Root\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_log', FILENAME = N'D:\My CODE\SQL Sever Standard\Microsoft SQL Server\Program Files Root\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo hàm 2
CREATE   FUNCTION [dbo].[fn_CalcMoneyContract](
    @ContractID VARCHAR(20),
    @TargetDate DATE
)
RETURNS DECIMAL(18,0)
AS
BEGIN
    DECLARE @TienVayGoc DECIMAL(18,0);
    DECLARE @NgayVay DATE;
    DECLARE @Deadline1 DATE;
    DECLARE @MucLaiSuat DECIMAL(18,0);
    DECLARE @DaTraGoc DECIMAL(18,0);

    SELECT @TienVayGoc = TienVayGoc,
           @NgayVay = NgayVay,
           @Deadline1 = Deadline1,
           @MucLaiSuat = MucLaiSuat
    FROM HOPDONG
    WHERE MaHD = @ContractID;

    SELECT @DaTraGoc = ISNULL(SUM(TienGocThu), 0)
    FROM PHIEUTHU
    WHERE MaHD = @ContractID AND CAST(NgayDong AS DATE) <= @TargetDate;

    DECLARE @DuNoHienTai DECIMAL(18,0) = @TienVayGoc - @DaTraGoc;
    IF @DuNoHienTai <= 0 RETURN 0; 

    DECLARE @TongTien DECIMAL(18,0) = 0;
    DECLARE @SoNgayLaiDon INT = 0;
    DECLARE @SoNgayLaiKep INT = 0;

    IF @TargetDate <= @Deadline1
    BEGIN
        SET @SoNgayLaiDon = DATEDIFF(DAY, @NgayVay, @TargetDate);
    END
    ELSE
    BEGIN
        SET @SoNgayLaiDon = DATEDIFF(DAY, @NgayVay, @Deadline1);
        SET @SoNgayLaiKep = DATEDIFF(DAY, @Deadline1, @TargetDate);
    END

    IF @SoNgayLaiDon < 0 SET @SoNgayLaiDon = 0;
    IF @SoNgayLaiKep < 0 SET @SoNgayLaiKep = 0;

    DECLARE @TyLeLai FLOAT = CAST(@MucLaiSuat AS FLOAT) / 1000000.0;
    DECLARE @TienLaiDon DECIMAL(18,0) = @DuNoHienTai * @TyLeLai * @SoNgayLaiDon;

    IF @SoNgayLaiKep = 0
    BEGIN
        SET @TongTien = @DuNoHienTai + @TienLaiDon;
    END
    ELSE
    BEGIN
        DECLARE @GocTinhLaiKep FLOAT = CAST(@DuNoHienTai + @TienLaiDon AS FLOAT);
        DECLARE @TongTienSauLaiKep FLOAT = @GocTinhLaiKep * POWER(1.0 + @TyLeLai, @SoNgayLaiKep);
        SET @TongTien = CAST(@TongTienSauLaiKep AS DECIMAL(18,0));
    END

    RETURN @TongTien;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo hàm 1
CREATE   FUNCTION [dbo].[fn_CalcMoneyTransaction](
    @TransactionID VARCHAR(20),
    @TargetDate DATE
)
RETURNS DECIMAL(18,0)
AS
BEGIN
    DECLARE @SoTien DECIMAL(18,0) = 0;
    DECLARE @TienGoc DECIMAL(18,0);
    DECLARE @TienLai DECIMAL(18,0);
    DECLARE @TrangThai NVARCHAR(50);

    SELECT @TienGoc = TienGocPhaiTra,
           @TienLai = TienLaiPhaiTra,
           @TrangThai = TrangThai
    FROM KEHOACHTRAGOP
    WHERE MaKHG = @TransactionID;

    IF @TrangThai = N'Đã đóng'
        SET @SoTien = 0;
    ELSE
        SET @SoTien = @TienGoc + @TienLai;

    RETURN @SoTien;
END
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [varchar](20) NOT NULL,
	[MaKH] [varchar](20) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[TienVayGoc] [decimal](18, 0) NOT NULL,
	[NgayVay] [date] NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[MucLaiSuat] [decimal](18, 0) NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEHOACHTRAGOP]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHOACHTRAGOP](
	[MaKHG] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[NgayHen] [date] NOT NULL,
	[TienGocPhaiTra] [decimal](18, 0) NULL,
	[TienLaiPhaiTra] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](20) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUBIENDONG]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUBIENDONG](
	[MaBD] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[NgayTao] [datetime] NULL,
	[LoaiBienDong] [nvarchar](100) NOT NULL,
	[SoTienDaTra] [decimal](18, 0) NULL,
	[DuNoHienTai] [decimal](18, 0) NOT NULL,
	[TrangThaiMoi] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaNhanVien] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITAISAN]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAISAN](
	[MaLoai] [varchar](20) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[MaPhieu] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[NgayDong] [datetime] NULL,
	[TienGocThu] [decimal](18, 0) NULL,
	[TienLaiThu] [decimal](18, 0) NULL,
	[TongTienThu]  AS ([TienGocThu]+[TienLaiThu]),
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNV] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAISAN]    Script Date: 12/05/2026 10:10:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAISAN](
	[MaTS] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[MaLoai] [varchar](20) NOT NULL,
	[TenTS] [nvarchar](255) NOT NULL,
	[DinhGia] [decimal](18, 0) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOPDONG] ([MaHD], [MaKH], [MaNV], [TienVayGoc], [NgayVay], [Deadline1], [Deadline2], [MucLaiSuat], [TinhTrang]) VALUES (N'HD001', N'KH001', N'NV001', CAST(20000000 AS Decimal(18, 0)), CAST(N'2023-10-01' AS Date), CAST(N'2026-06-11' AS Date), CAST(N'2026-06-26' AS Date), CAST(5000 AS Decimal(18, 0)), N'Đang vay')
GO
INSERT [dbo].[KEHOACHTRAGOP] ([MaKHG], [MaHD], [NgayHen], [TienGocPhaiTra], [TienLaiPhaiTra], [TrangThai]) VALUES (N'KHG001', N'HD001', CAST(N'2023-10-15' AS Date), CAST(5000000 AS Decimal(18, 0)), CAST(1500000 AS Decimal(18, 0)), N'Chưa đóng')
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [CCCD], [HoTen], [SDT], [DiaChi], [NgaySinh]) VALUES (N'KH001', N'001099000123', N'Nguyễn Văn A', N'0987654321', N'Hà Nội', CAST(N'1990-05-15' AS Date))
GO
INSERT [dbo].[LICHSUBIENDONG] ([MaBD], [MaHD], [NgayTao], [LoaiBienDong], [SoTienDaTra], [DuNoHienTai], [TrangThaiMoi], [GhiChu], [MaNhanVien]) VALUES (N'BD179399', N'HD001', CAST(N'2026-05-12T12:01:55.357' AS DateTime), N'Giải ngân', CAST(0 AS Decimal(18, 0)), CAST(20000000 AS Decimal(18, 0)), N'Đang vay', N'Khởi tạo hợp đồng mới', NULL)
INSERT [dbo].[LICHSUBIENDONG] ([MaBD], [MaHD], [NgayTao], [LoaiBienDong], [SoTienDaTra], [DuNoHienTai], [TrangThaiMoi], [GhiChu], [MaNhanVien]) VALUES (N'BD846637', N'HD001', CAST(N'2026-05-12T20:23:44.867' AS DateTime), N'Thu nợ', CAST(10000000 AS Decimal(18, 0)), CAST(2297644467 AS Decimal(18, 0)), N'Đang trả góp', N'Khách trả nợ tại quầy', NULL)
INSERT [dbo].[LICHSUBIENDONG] ([MaBD], [MaHD], [NgayTao], [LoaiBienDong], [SoTienDaTra], [DuNoHienTai], [TrangThaiMoi], [GhiChu], [MaNhanVien]) VALUES (N'BDGH8873', N'HD001', CAST(N'2026-05-12T22:06:35.910' AS DateTime), N'Gia hạn hợp đồng', CAST(1143822234 AS Decimal(18, 0)), CAST(10000000 AS Decimal(18, 0)), N'Đang vay', N'Đóng trọn tiền lãi để dời ngày', N'NV001')
GO
INSERT [dbo].[LOAITAISAN] ([MaLoai], [TenLoai]) VALUES (N'L01', N'Xe máy')
INSERT [dbo].[LOAITAISAN] ([MaLoai], [TenLoai]) VALUES (N'L02', N'Điện thoại di động')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [ChucVu]) VALUES (N'NV001', N'Trần Nhân Viên', N'Giao dịch viên')
GO
INSERT [dbo].[PHIEUTHU] ([MaPhieu], [MaHD], [NgayDong], [TienGocThu], [TienLaiThu]) VALUES (N'PT001', N'HD001', CAST(N'2026-05-12T20:23:44.863' AS DateTime), CAST(10000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[PHIEUTHU] ([MaPhieu], [MaHD], [NgayDong], [TienGocThu], [TienLaiThu]) VALUES (N'PTGH6193', N'HD001', CAST(N'2026-05-12T22:06:35.897' AS DateTime), CAST(0 AS Decimal(18, 0)), CAST(1143822234 AS Decimal(18, 0)))
GO
INSERT [dbo].[TAISAN] ([MaTS], [MaHD], [MaLoai], [TenTS], [DinhGia], [TrangThai], [IsSold]) VALUES (N'TS001', N'HD001', N'L01', N'Xe máy Honda SH 150i', CAST(60000000 AS Decimal(18, 0)), N'Đang cầm cố', 0)
INSERT [dbo].[TAISAN] ([MaTS], [MaHD], [MaLoai], [TenTS], [DinhGia], [TrangThai], [IsSold]) VALUES (N'TS002', N'HD001', N'L02', N'Điện thoại iPhone 15 Pro Max', CAST(25000000 AS Decimal(18, 0)), N'Đang cầm cố', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__A955A0AAF89742E7]    Script Date: 12/05/2026 10:10:55 CH ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT ((5000)) FOR [MucLaiSuat]
GO
ALTER TABLE [dbo].[HOPDONG] ADD  DEFAULT (N'Đang vay') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[KEHOACHTRAGOP] ADD  DEFAULT ((0)) FOR [TienGocPhaiTra]
GO
ALTER TABLE [dbo].[KEHOACHTRAGOP] ADD  DEFAULT ((0)) FOR [TienLaiPhaiTra]
GO
ALTER TABLE [dbo].[KEHOACHTRAGOP] ADD  DEFAULT (N'Chưa đóng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LICHSUBIENDONG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LICHSUBIENDONG] ADD  DEFAULT ((0)) FOR [SoTienDaTra]
GO
ALTER TABLE [dbo].[PHIEUTHU] ADD  DEFAULT (getdate()) FOR [NgayDong]
GO
ALTER TABLE [dbo].[PHIEUTHU] ADD  DEFAULT ((0)) FOR [TienGocThu]
GO
ALTER TABLE [dbo].[PHIEUTHU] ADD  DEFAULT ((0)) FOR [TienLaiThu]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAISAN] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAISAN] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_NHANVIEN]
GO
ALTER TABLE [dbo].[KEHOACHTRAGOP]  WITH CHECK ADD  CONSTRAINT [FK_KEHOACH_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[KEHOACHTRAGOP] CHECK CONSTRAINT [FK_KEHOACH_HOPDONG]
GO
ALTER TABLE [dbo].[LICHSUBIENDONG]  WITH CHECK ADD  CONSTRAINT [FK_LOG_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[LICHSUBIENDONG] CHECK CONSTRAINT [FK_LOG_HOPDONG]
GO
ALTER TABLE [dbo].[LICHSUBIENDONG]  WITH CHECK ADD  CONSTRAINT [FK_LOG_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[LICHSUBIENDONG] CHECK CONSTRAINT [FK_LOG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_HOPDONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAISAN]  WITH CHECK ADD  CONSTRAINT [FK_TAISAN_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[TAISAN] CHECK CONSTRAINT [FK_TAISAN_HOPDONG]
GO
ALTER TABLE [dbo].[TAISAN]  WITH CHECK ADD  CONSTRAINT [FK_TAISAN_LOAITAISAN] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAITAISAN] ([MaLoai])
GO
ALTER TABLE [dbo].[TAISAN] CHECK CONSTRAINT [FK_TAISAN_LOAITAISAN]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoNoXau]    Script Date: 12/05/2026 10:10:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 
-- EVENT 4: TRUY VẤN DANH SÁCH NỢ XẤU (NỢ KHÓ ĐÒI)
-- Yêu cầu: Xuất danh sách khách hàng đã quá Deadline 1 chưa thanh toán.

CREATE   PROCEDURE [dbo].[sp_BaoCaoNoXau]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Today DATE = GETDATE();
    DECLARE @NextMonth DATE = DATEADD(MONTH, 1, @Today);

    SELECT 
        KH.HoTen AS [Tên KH],
        KH.SDT AS [Số điện thoại],
        HD.TienVayGoc AS [Số tiền vay gốc],
        DATEDIFF(DAY, HD.Deadline1, @Today) AS [Số ngày quá hạn],
        
        dbo.fn_CalcMoneyContract(HD.MaHD, @Today) AS [Tổng tiền phải trả hiện tại],
        dbo.fn_CalcMoneyContract(HD.MaHD, @NextMonth) AS [Tổng số tiền phải trả sau 1 tháng nữa]
        
    FROM HOPDONG HD
    INNER JOIN KHACHHANG KH ON HD.MaKH = KH.MaKH
    
    WHERE HD.Deadline1 < @Today 
      AND HD.TinhTrang NOT IN (N'Đã thanh toán đủ', N'Đã thanh lý');
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 12/05/2026 10:10:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHopDong VARCHAR(20),  
    @MaNhanVien VARCHAR(20), 
    @SoNgayGiaHan INT = 30   
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Today DATE = GETDATE();

    DECLARE @TienVayGoc DECIMAL(18,0);
    DECLARE @DaTraGoc DECIMAL(18,0);
    DECLARE @TongTienHienTai DECIMAL(18,0);
    
    SELECT @TienVayGoc = TienVayGoc FROM HOPDONG WHERE MaHD = @MaHopDong;
    
    SELECT @DaTraGoc = ISNULL(SUM(TienGocThu), 0) FROM PHIEUTHU WHERE MaHD = @MaHopDong;
    
    DECLARE @DuNoGoc DECIMAL(18,0) = @TienVayGoc - @DaTraGoc;
    
    SET @TongTienHienTai = dbo.fn_CalcMoneyContract(@MaHopDong, @Today);
    
    DECLARE @TienLaiPhaiTra DECIMAL(18,0) = @TongTienHienTai - @DuNoGoc;

    IF @TienLaiPhaiTra <= 0
    BEGIN
        PRINT N'THÔNG BÁO: Không có tiền lãi phát sinh, chưa cần đóng tiền gia hạn.';
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @MaPhieu VARCHAR(20) = 'PTGH' + CAST(ABS(CHECKSUM(NEWID())) % 10000 AS VARCHAR);
        
        INSERT INTO PHIEUTHU (MaPhieu, MaHD, NgayDong, TienGocThu, TienLaiThu)
        VALUES (@MaPhieu, @MaHopDong, GETDATE(), 0, @TienLaiPhaiTra);

        DECLARE @NewDeadline1 DATE = DATEADD(DAY, @SoNgayGiaHan, @Today);
        DECLARE @NewDeadline2 DATE = DATEADD(DAY, 15, @NewDeadline1); 

        UPDATE HOPDONG
        SET Deadline1 = @NewDeadline1,
            Deadline2 = @NewDeadline2,
            TinhTrang = N'Đang vay' 
        WHERE MaHD = @MaHopDong;

        DECLARE @MaBienDong VARCHAR(20) = 'BDGH' + CAST(ABS(CHECKSUM(NEWID())) % 10000 AS VARCHAR);
        
        INSERT INTO LICHSUBIENDONG (MaBD, MaHD, NgayTao, LoaiBienDong, SoTienDaTra, DuNoHienTai, TrangThaiMoi, GhiChu, MaNhanVien)
        VALUES (@MaBienDong, @MaHopDong, GETDATE(), N'Gia hạn hợp đồng', @TienLaiPhaiTra, @DuNoGoc, N'Đang vay', N'Đóng trọn tiền lãi để dời ngày', @MaNhanVien);

        COMMIT TRANSACTION;
        PRINT N'=================================================';
        PRINT N'GIA HẠN THÀNH CÔNG!';
        PRINT N'Số tiền lãi khách đã đóng: ' + FORMAT(@TienLaiPhaiTra, '#,##0') + N' VNĐ';
        PRINT N'Mốc Deadline 1 mới: ' + CAST(@NewDeadline1 AS VARCHAR);
        PRINT N'=================================================';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @Err NVARCHAR(MAX) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHopDongMoi]    Script Date: 12/05/2026 10:10:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TaoHopDongMoi]
    @MaKH VARCHAR(20),
    @CCCD VARCHAR(12),
    @HoTen NVARCHAR(100),
    @SDT VARCHAR(15),
    @DiaChi NVARCHAR(255),
    @NgaySinh DATE,

    @MaHD VARCHAR(20),
    @MaNV VARCHAR(20),
    @TienVayGoc DECIMAL(18,0),
    @NgayVay DATE,
    @MucLaiSuat DECIMAL(18,0) = 5000,
    @SoNgayDenHan1 INT = 30, 
    @SoNgayChoThanhLy INT = 15, 

    @DanhSachTaiSanJSON NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM KHACHHANG WHERE CCCD = @CCCD)
        BEGIN
            INSERT INTO KHACHHANG (MaKH, CCCD, HoTen, SDT, DiaChi, NgaySinh)
            VALUES (@MaKH, @CCCD, @HoTen, @SDT, @DiaChi, @NgaySinh);
        END
        ELSE
        BEGIN
            SELECT @MaKH = MaKH FROM KHACHHANG WHERE CCCD = @CCCD;
        END

        DECLARE @Deadline1 DATE = DATEADD(DAY, @SoNgayDenHan1, @NgayVay);
        DECLARE @Deadline2 DATE = DATEADD(DAY, @SoNgayChoThanhLy, @Deadline1);


        INSERT INTO HOPDONG (MaHD, MaKH, MaNV, TienVayGoc, NgayVay, Deadline1, Deadline2, MucLaiSuat, TinhTrang)
        VALUES (@MaHD, @MaKH, @MaNV, @TienVayGoc, @NgayVay, @Deadline1, @Deadline2, @MucLaiSuat, N'Đang vay');

        INSERT INTO TAISAN (MaTS, MaHD, MaLoai, TenTS, DinhGia, TrangThai, IsSold)
        SELECT 
            JSON_VALUE(value, '$.MaTS'),
            @MaHD,
            JSON_VALUE(value, '$.MaLoai'),
            JSON_VALUE(value, '$.TenTS'),
            CAST(JSON_VALUE(value, '$.DinhGia') AS DECIMAL(18,0)),
            N'Đang cầm cố',
            0 
        FROM OPENJSON(@DanhSachTaiSanJSON);

        DECLARE @MaBD VARCHAR(20) = 'BD' + CAST(ABS(CHECKSUM(NEWID())) % 1000000 AS VARCHAR); 

        INSERT INTO LICHSUBIENDONG (MaBD, MaHD, NgayTao, LoaiBienDong, SoTienDaTra, DuNoHienTai, TrangThaiMoi, GhiChu)
        VALUES (@MaBD, @MaHD, GETDATE(), N'Giải ngân', 0, @TienVayGoc, N'Đang vay', N'Khởi tạo hợp đồng mới');
        COMMIT TRANSACTION;
        PRINT N'Tuyệt vời! Tạo hợp đồng và danh sách tài sản thành công.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
         DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 12/05/2026 10:10:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EVENT 3: XỬ LÝ TRẢ NỢ VÀ HOÀN TRẢ TÀI SẢN

CREATE   PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHD VARCHAR(20),
    @SoTienTra DECIMAL(18,0),
    @MaPhieu VARCHAR(20) 
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Today DATE = GETDATE();
    DECLARE @TongNoHienTai DECIMAL(18,0);
    DECLARE @TinhTrangHD NVARCHAR(50);
    DECLARE @Deadline2 DATE;
    DECLARE @MaBD VARCHAR(20) = 'BD' + CAST(ABS(CHECKSUM(NEWID())) % 1000000 AS VARCHAR);

    -- 1. Lấy thông tin cơ bản của hợp đồng
    SELECT @TinhTrangHD = TinhTrang, @Deadline2 = Deadline2
    FROM HOPDONG WHERE MaHD = @MaHD;

    -- 2. KIỂM TRA ĐIỀU KIỆN THANH LÝ (Theo yêu cầu đề bài)
    IF EXISTS (SELECT 1 FROM TAISAN WHERE MaHD = @MaHD AND IsSold = 1)
    BEGIN
        PRINT N'THÔNG BÁO: Tài sản đã bị thanh lý. Không thu tiền, không trả đồ.';
        RETURN;
    END

    -- 3. TÍNH TỔNG NỢ THỜI GIAN THỰC (Sử dụng hàm từ Event 2)
    SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@MaHD, @Today);

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 4. GHI NHẬN PHIẾU THU
        DECLARE @TienLaiThucTe DECIMAL(18,0) = @TongNoHienTai - (SELECT TienVayGoc - ISNULL(SUM(TienGocThu),0) FROM PHIEUTHU RIGHT JOIN HOPDONG ON PHIEUTHU.MaHD = HOPDONG.MaHD WHERE HOPDONG.MaHD = @MaHD GROUP BY TienVayGoc);
        INSERT INTO PHIEUTHU (MaPhieu, MaHD, NgayDong, TienGocThu, TienLaiThu)
        VALUES (@MaPhieu, @MaHD, GETDATE(), @SoTienTra, 0); 

        -- 5. CẬP NHẬT TRẠNG THÁI HỢP ĐỒNG
        DECLARE @DuNoConLai DECIMAL(18,0) = @TongNoHienTai - @SoTienTra;
        DECLARE @TrangThaiMoi NVARCHAR(50);

        IF @DuNoConLai <= 0
        BEGIN
            SET @TrangThaiMoi = N'Đã thanh toán đủ';
            UPDATE TAISAN SET TrangThai = N'Đã trả khách' WHERE MaHD = @MaHD AND TrangThai = N'Đang cầm cố';
        END
        ELSE
        BEGIN
            SET @TrangThaiMoi = N'Đang trả góp';
        END

        UPDATE HOPDONG SET TinhTrang = @TrangThaiMoi WHERE MaHD = @MaHD;

        -- 6. GHI NHẬN VÀO LOG (LICHSUBIENDONG)
        INSERT INTO LICHSUBIENDONG (MaBD, MaHD, NgayTao, LoaiBienDong, SoTienDaTra, DuNoHienTai, TrangThaiMoi, GhiChu)
        VALUES (@MaBD, @MaHD, GETDATE(), N'Thu nợ', @SoTienTra, @DuNoConLai, @TrangThaiMoi, N'Khách trả nợ tại quầy');

        -- 7. ĐƯA RA DANH SÁCH GỢI Ý TRẢ LẠI TÀI SẢN
        PRINT N'--- DANH SÁCH TÀI SẢN CÓ THỂ TRẢ LẠI ---';
        
        DECLARE @TongGiaTriTaiSanDangCam DECIMAL(18,0);
        SELECT @TongGiaTriTaiSanDangCam = SUM(DinhGia) FROM TAISAN WHERE MaHD = @MaHD AND TrangThai = N'Đang cầm cố';
        SELECT MaTS, TenTS, DinhGia, 
               (@TongGiaTriTaiSanDangCam - DinhGia) AS GiaTriConLaiNeuTraMonNay
        FROM TAISAN
        WHERE MaHD = @MaHD 
          AND TrangThai = N'Đang cầm cố'
          AND (@TongGiaTriTaiSanDangCam - DinhGia) >= @DuNoConLai;

        COMMIT TRANSACTION;
        PRINT N'Xử lý giao dịch thành công.';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @Err NVARCHAR(MAX) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END
GO
/****** Object:  Trigger [dbo].[trg_QuanLyThanhLyTaiSan]    Script Date: 12/05/2026 10:10:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EVENT 5: QUẢN LÝ THANH LÝ TÀI SẢN (TRIGGER)
CREATE   TRIGGER [dbo].[trg_QuanLyThanhLyTaiSan]
ON [dbo].[HOPDONG]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(TinhTrang)
    BEGIN
        UPDATE TS
        SET TS.TrangThai = N'Đã bán thanh lý',
            TS.IsSold = 1  
        FROM TAISAN TS
        INNER JOIN inserted i ON TS.MaHD = i.MaHD
        INNER JOIN deleted d ON i.MaHD = d.MaHD
        WHERE i.TinhTrang = N'Đã thanh lý' 
          AND d.TinhTrang <> N'Đã thanh lý'
          AND TS.TrangThai = N'Sẵn sàng thanh lý'; 
    END

    UPDATE H
    SET H.TinhTrang = N'Quá hạn (nợ xấu)'
    FROM HOPDONG H
    INNER JOIN inserted i ON H.MaHD = i.MaHD
    WHERE H.TinhTrang = N'Đang vay' 
      AND CAST(GETDATE() AS DATE) > H.Deadline1;

    UPDATE TS
    SET TS.TrangThai = N'Sẵn sàng thanh lý'
    FROM TAISAN TS
    INNER JOIN HOPDONG H ON TS.MaHD = H.MaHD
    INNER JOIN inserted i ON H.MaHD = i.MaHD
    WHERE H.TinhTrang = N'Quá hạn (nợ xấu)' 
      AND CAST(GETDATE() AS DATE) > H.Deadline2
      AND TS.TrangThai = N'Đang cầm cố';

END
GO
ALTER TABLE [dbo].[HOPDONG] ENABLE TRIGGER [trg_QuanLyThanhLyTaiSan]
GO
USE [master]
GO
